*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
.nav-bar{
    width: 100vw;
    height: 10vh;
    background-color: #6f6af7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
}

.body{
    width: 85vw;
    height: 70vh;
    border: 1px solid black;
    margin-left: 7.5vw;
    margin-top: 10vh;
}